html {
  background: white;
}

.app {
  max-width: 500px;
  margin: 0 auto;
}

h1,
h2,
p {
  color: black;
}

.top {
  font-size: 1.2rem;
}

.bot {
  display: flex;
  justify-content: space-between;
}

.generations {
  text-align: center;
}

.grid {
  width: 500px;
  display: flex;
  flex-flow: wrap;
  margin: 10px auto;
}

.box {
  width: 19px;
  height: 19px;
  background: rgb(32, 31, 31);
  margin: 0.5px;
  transition: all 0.2s;
  cursor: pointer;
}

button {
  font-size: 0.9rem;
  height: 30px;
  border: 1px solid rgb(32, 31, 31);
  border-radius: 2px;
  color: rgb(32, 31, 31);
  background: white;
  padding: 5px;
  transition: all 0.2s;
}

button:hover {
  background: rgb(32, 31, 31);
  color: white;
  padding: 5px;
}

.buttons {
  display: flex;
  justify-content: space-between;
  width: 400px;
}

.on {
  background: green;
}

.green {
  background: green;
}

.blue {
  background: blue;
}

.yellow {
  background: #ffe600;
}

.box:hover {
  background: lightblue;
}

nav {
  padding: 5px;
  font-size: 1.1rem;
  display: flex;
  align-items: center;
  color: white;
  background: lightgrey;
}

ul {
  color: white;
  width: 50%;
  display: flex;
  list-style: none;
  justify-content: flex-end;
}

.links {
  display: flex;
  margin: 0px 15px;
  text-decoration: none;
}

.links:hover {
  color: black;
}

.rules {
  font-size: 1.2rem;
}

.rulesLi {
  margin-top: 20px;
}

.automataHeaders {
  border-bottom: 1px solid black;
  font-size: 1.3rem;
}

.automataPars {
  font-size: 1.1rem;
}
